original.html
_it/
_prev/
_gen_*.sh
*.jpeg
nano-gen-*
.DS_Store
Thumbs.db
desktop.ini

# generated working files
out/

# farmacologia-ai
farmacologia-ai/.key
farmacologia-ai/ORIGINALE.pdf
farmacologia-ai/src/orig/
farmacologia-ai/src/small/
